* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: #160330;
}
h2.title {
  font-size: 62px;
  font-weight: 700;
  line-height: 81px;
  color: white;
  margin-top: 10px;
}
p.text {
  font-weight: 400;
  line-height: 29px;
  color: #868695;
  margin-top: 10px;
}
span.uno {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.075em;
  color: #3a86ff;
  padding: 7px 13px;
  background-color: #172656;
}
@media(max-width: 900px){
  h2.title{
    font-size: 30px;
    line-height: 40px;
  }
  p.text{
    font-size: 15px;
  }
  span.uno{
    font-size: 12px;
    padding: 5px 10px;
  }
}